
.footer{
    height: 5vh;
    color: var(--white);
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 1%;
    border: 1px solid var(--teal);
    border-bottom: none;
    background-color: var(--gray);
    z-index: 0;
}

.footer p{
    text-align: end;
    font-size: large;
    margin-top: 0.4rem;
    cursor: default;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 540px) {
    .footer p{
        text-align: end;
        font-size: small;
        margin-top: 0.4rem;
        cursor: default;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}



