
.top-container{
    position: relative;
    display: flex;
    height: 6rem;
    border-bottom: 2px solid var(--teal);
    width: 100%;
    z-index: 1;
}

.logo{
    height: 100%;
    position: absolute;
    scale: 2.2;
    left: 15%;
    margin-top: 1rem;
}

.name{
    letter-spacing: 2px;
    color: var(--teal);
    font-weight: 400;
    margin-top: 3.5rem;
    font-size: 1.4rem;
    position: absolute;
    left: 20rem;
    cursor: default;
}

.chris{
    background-color: transparent;
}

.contact-container{
    background-color: var(--teal);
    width: 10%;
    position: absolute;
    right: 0;
    height: 100%;
    cursor: pointer;
}

.contact-text{
    text-align: center;
    background-color: transparent;
    color: var(--white);
    font-size: 2rem;
    transform: translateY(50%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 540px) {
    .logo{
        display: none;
    }
    .name{
        width: 100%;
        left: 40%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .contact-container{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}