
:root{
  --white:rgb(243, 239, 224);
  --gray: rgb(67, 66, 66);
  --black: rgb(34, 34, 34);
  --teal: rgb(34, 163, 159);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--gray);
  overflow-x: hidden;
}

.App{
  height: 100vh;
  width: 100%;
}
